* input{
  position: absolute;
  left: -9999px;
  /*display: none;*/
}
input {
	/*display: none;*/
}
#slider{
  position: relative;
  margin: 0 auto;
  width: 100%;
}

#slides{
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
.inner{
  width: 400%;
}
.inner article{
  width: 25%;
  height: 400px;
  float: left;
}
#overflow{
  width: 100%;
  overflow: hidden;
}
.inner:after{
  content: "";
  display: block;
  clear: both;
}
#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slider #controls {
  bottom:230px;
  position: relative;
  width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}
#controls label {
  cursor: pointer;
	display: none;
	width: 22px;
	height: 34px;
	opacity: 0.5;
}
#controls label:hover{
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
	background: url('../img/arrows.png') no-repeat;
  background-position: -23px;
	float: right;
	margin: 0 0.5% 0 0;
	display: block;
}
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide1:checked ~ #controls label:nth-child(4) {
	background: url('../img/arrows.png') no-repeat;
	float: left;
	margin: 0 0 0 0.5%;
	display: block;
}
#active {
  position: relative;
  right: 171px;
  bottom: -93px;
	text-align: right;
  margin: 0 auto;
  max-width: 960px;
}
#active label {
  cursor: pointer;
	border-radius: 100%;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: black;
  opacity: 0.3;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
#active label:hover{
  border: 3px solid rgba(255,255,255,1);
  background-clip:content-box;
}
#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4){
opacity: 1;
  background: white;
  border: 3px solid rgba(0,0,0,0.3);
  background-clip:content-box;
}
.slide__text__wrapper{
  width: 54%;
  vertical-align: middle;
  display: inline-block;
	margin-left: 4%;
}
.slide__text{
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-top: 16px;
}
.slide__text:after{
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.slide__text__head{
  color: #fefefe;
font-family: "League Gothic";
font-size: 60px;
/*font-weight: 400;*/
line-height: 57px;
letter-spacing: -1px;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slide__text__lead{
  color: #edbfff;
font-family: "League Gothic";
font-size: 32px;
line-height: 39px;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slide__text__main{
  color: white;
font-family: "Open Sans";
font-size: 18px;
line-height: 24px;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
letter-spacing: -0.2px;
}
.slide__image:after{
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.slide__image{
  margin-left: 7.5%;
  display: inline-block;
  height: 100%;
}
.slide__image img{
  display: inline;
  vertical-align: middle;
}
.slide__pop-up{
    display:none;
  position: absolute;
  right: 7.8%;
  bottom: -20px;
}
#slide2:checked ~ #slides .slide__pop-up{
  display: block;
  }
.button__wrapper{
  position: absolute;
  top:150px;
  right:60px;
}
.button__back{
  position: relative;
}
.button__front{
  position: absolute;
  top:13px;
  left:13px;
  opacity: 0.8;
}
.button__front:hover{
  opacity: 1;
}
.button__front:hover .button__back{
  opacity: 0.3;
  display: none;
}
/*MINI SLIDER*/
#mini-slider input {
  /*display: none;*/
}
#mini-slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
#mini-slides {
  width: 100%;
  margin: 0 auto;
}
#mini-slider .inner {
  width: 400%;
}
#mini-slider .inner article {
  width: 25%;
  height: 293px;
  float: left;
}
#mini-overflow {
  width: 100%;
  overflow: hidden;
}
#mini-slider .inner:after {
  content: "";
  display: block;
  clear: both;
}
#mini-slide1:checked ~ #mini-slides .inner {
  margin-left: 0;
}
#mini-slide2:checked ~ #mini-slides .inner {
  margin-left: -100%;
}
#mini-slide3:checked ~ #mini-slides .inner {
  margin-left: -200%;
}
#mini-slide4:checked ~ #mini-slides .inner {
  margin-left: -300%;
}
#mini-active {
  text-align: center;
}
#mini-active label {
  cursor: pointer;
  border-radius: 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: white;
  box-shadow: 0 0 0 1px #e6e6e6;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
#mini-active label:hover {
  border: 3px solid rgba(255, 255, 255, 1);
  background-clip: content-box;
}
#mini-slide1:checked ~ #mini-active label:nth-child(1), #mini-slide2:checked ~ #mini-active label:nth-child(2), #mini-slide3:checked ~ #mini-active label:nth-child(3), #mini-slide4:checked ~ #mini-active label:nth-child(4) {
  background-image: -webkit-linear-gradient(bottom, #454545 0%, #6a6a6a 100%);
  background-image: -moz-linear-gradient(bottom, #454545 0%, #6a6a6a 100%);
  background-image: linear-gradient(to top, #454545 0%, #6a6a6a 100%);
  border: 3px solid white;
  box-shadow: 0 0 0 1px #e6e6e6;
  background-clip: content-box;
}